In [2]:
from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from wrangle import wrangle_zillow
from wrangle import split_data

1. Load your zillow dataset.

In [6]:
df = wrangle_zillow()
df.head()

,id,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,20,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,31,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,33,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,62,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,97,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [7]:
train, validate, test = split_data(df)
train.head(), validate.head(), test.head()

(              id  bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  \
 1223393  1694795         3.0          2.0                        1456.0
 150088    206497         2.0          3.0                        1818.0
 935127   1294432         4.0          2.5                        2271.0
 600768    831548         3.0          1.5                        1240.0
 418822    579258         5.0          4.5                        3899.0

          taxvaluedollarcnt  yearbuilt  taxamount    fips
 1223393           343168.0     1966.0    4421.73  6037.0
 150088            125856.0     1985.0    1292.28  6059.0
 935127            530519.0     1975.0    5827.04  6059.0
 600768            430466.0     1965.0    4909.04  6059.0
 418822           1285000.0     1989.0   13259.10  6059.0  ,
               id  bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  \
 778516   1078234         4.0          2.0                        2218.0
 1145041  1586353         3.0          2.0                        1728.0
 1565821  2168868         2.0          1.0                         744.0
 970124   1343722         2.0          1.0                        1296.0
 455389    630684         2.0          3.0                        1178.0

          taxvaluedollarcnt  yearbuilt  taxamount    fips
 778516            480440.0     1939.0    6262.96  6037.0
 1145041           462675.0     1936.0    5469.76  6037.0
 1565821           112007.0     1908.0    1907.98  6037.0
 970124            329956.0     1948.0    4124.11  6037.0
 455389           1281228.0     1938.0   15521.72  6037.0  ,
               id  bedroomcnt  bathroomcnt  calculatedfinishedsquarefeet  \
 566155    784167         4.0          2.0                        1399.0
 2078765  2879712         2.0          2.0                        1281.0
 570523    789867         3.0          3.0                        2280.0
 1308245  1812353         3.0          2.0                        1316.0
 150596    207932         5.0          5.5                        4572.0

          taxvaluedollarcnt  yearbuilt  taxamount    fips
 566155            360046.0     1960.0    4187.49  6037.0
 2078765           550265.0     1936.0    6723.30  6037.0
 570523            238172.0     2007.0    5215.44  6037.0
 1308245           350260.0     1975.0    4689.03  6037.0
 150596           2563505.0     1998.0   27255.50  6111.0  )

2. Fit a linear regression model (ordinary least squares) and compute yhat, predictions of taxvaluedollarcnt using only calculatedfinishedsqft.

Here is some sample code to get you started:

In [ ]:
# assuming X and y are already defined
model = LinearRegression().fit(X, y)
predictions = model.predict(X)

3. Plot the residuals for the linear regression model that you made.

4. Calculate the sum of squared errors, explained sum of squares, total sum of squares, mean squared error, and root mean squared error for your model.

5. Calculate the sum of squared errors, mean squared error, and root mean squared error for the baseline model (i.e. a model that always predicts the average taxvaluedollarcnt amount).

6. Write python code that compares the sum of squared errors for your model against the sum of squared errors for the baseline model and outputs whether or not your model performs better than the baseline model.

7. What is the amount of variance explained in your model?

8. Is your model better than the baseline model?

9. Create a file named evaluate.py that contains the following functions.

plot_residuals(y, yhat): creates a residual plot

regression_errors(y, yhat): returns the following values:

    sum of squared errors (SSE)
    explained sum of squares (ESS)
    total sum of squares (TSS)
    mean squared error (MSE)
    root mean squared error (RMSE)

baseline_mean_errors(y): computes the SSE, MSE, and RMSE for the baseline model

better_than_baseline(y, yhat): returns true if your model performs better than the baseline, otherwise false